  <div class="row">
    <div class="col-sm-11 text-end">
      <a href="/places/new" class="btn btn-success">New place </a>
    </div>
    
    <div class="col-sm-4">
      <h1>Places</h1>
    </div>
  </div>

<ul>
  <% if @current_user %>
    <% for place in @places %>
      <div class="mt-2">
        <li><h5><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></h5></li>
      </div>
    <% end %>
  </ul>

  <% end %>